body {
    margin: auto;
    background-color: #cfffff;
}

header {
    background-color: aquamarine;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-family: "Matangi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#Mi-nombre {
    font-family: "Matangi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div {
    margin: 40px;
}

h1 {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 62px;
    text-align: center;
    color: #000ea9;
}

h2 {
    font-family: Cambria, sans-serif;
    margin: 20px;
    text-align: center;
}

#introduccion {
    margin: auto;
    background-color: aquamarine;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.twokfivedisconnect {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    background-color: white;
}

.twokfivedisconnect h2 {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 10px;
    text-align: center;
}

.twokfivedisconnect p {
    margin: 62px;
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
}

p {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 48px;
    margin-right: 48px;
    font-family: Cambria, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

a {
    margin: 20px
}

#autores {
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 18px;
    line-height: 1.5;
}

.exposicion {
    display: block;
    margin: auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

img {
    display: block;
    margin: auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

iframe {
    display: block;
    margin: auto;
}

#comic-sans {
    font-family: cursive;
    font-size: 48px;
    text-align: center;
    color: #000ea9;
}

.contactame {
    background-color: black;
    margin: auto;
}

.contactame h1 {
    color: white;
}

.contactame h2 {
    color: white;
}

footer {
    text-align: center;
    background-color: beige;
}